html, body, #root, .App {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#archDropzone {
  width: 100%;
  height: 100%;
  position: relative;
}

#archDropzone span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  text-align: center;
}

.dropzone {
  width: 100%;
  height: 100%;
}

.img-container {
  width: 15em;
  height: 15em;
  margin: auto;
  margin-bottom: 1rem;
}

#inputImage {
  width: 15em;
  height: 15em;
}

.primary-container {
  padding: 5%;
}

.dropzoneText {
  position: absolute;
}

.striped {
  /* http://stripesgenerator.com */
  background-image: linear-gradient(153deg, 
  #bababa 25%, #ffffff 25%, #ffffff 50%, #bababa 50%, 
  #bababa 75%, #ffffff 75%, #ffffff 100%);
  background-size: 88.11px 44.89px;
  opacity: 0.25;
}

.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.img-row li {
  width: 33.3%;
  float: left;
  list-style: none;
}

.related-img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  padding-left: 5%;
  padding-right: 5%;
}

.footer {
  font-size: 8pt;
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  color: #6a737c;
  background-color: #242729;
}

.footer a {
  color: #848d95;
}

.footer a:hover {
  color: #bbc0c4;
  text-decoration: none;
}

.short-footer-text { display: none; }

@media (max-width: 480px) {
  .short-footer-text { display: inline-block; }
  .full-footer-text { display: none; }
}

.result:hover {
  cursor: pointer;
}

.active-result {
  -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: .25rem!important;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}