html, body, #root, .App {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#archDropzone {
  width: 100%;
  height: 100%;
  position: relative;
}

#archDropzone span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  text-align: center;
}

.dropzone {
  width: 100%;
  height: 100%;
}

.img-container {
  width: 15em;
  height: 15em;
  margin: auto;
  margin-bottom: 1rem;
}

#inputImage {
  width: 15em;
  height: 15em;
}

.primary-container {
  padding: 5%;
}

.dropzoneText {
  position: absolute;
}

.striped {
  /* http://stripesgenerator.com */
  background-image: linear-gradient(153deg, 
  #bababa 25%, #ffffff 25%, #ffffff 50%, #bababa 50%, 
  #bababa 75%, #ffffff 75%, #ffffff 100%);
  background-size: 88.11px 44.89px;
  opacity: 0.25;
}

.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer {
  font-size: 8pt;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
